.ButtonGroup {
  display: flex;
  margin-left: -6px;
  margin-right: -6px;
  margin-top: 42px;
  button {
    width: 100%;
    max-width: 150px;
    padding: 9px;
    margin-left: 6px;
    margin-right: 6px;
  }
}