.ButtonAction {
  width: 25px;
  height: 25px;
  background-color: #eee;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  svg{
    flex-shrink: 0;
  }
  &:hover {
    background-color: #dedfe1;
  }
}